body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
  background: black;
}

/* LOGIN BONITO */
#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#ff4d6d,#000);
}

.decoracao {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.decoracao h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  margin: 10px;
  width: 200px;
}

button {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: #ff1e4d;
  color: white;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(circle,#8b0000,#000);
}

/* FOTO */
.foto img {
  width: 280px;
  border-radius: 20px;
  margin: 40px 0;
}

/* CONTADOR */
#timer {
  font-size: 2rem;
}

/* ANIMAÇÃO */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* CORAÇÕES */
.hearts span {
  position: absolute;
  color: #ff4d6d;
  animation: cair 5s linear infinite;
}

@keyframes cair {
  0% {transform: translateY(-10%);}
  100% {transform: translateY(110vh);}
}
